{% extends 'layout.html' %}
{% block content %}
        <div id="sidebar">
            {% include 'includes/sidebar.html' %}
        </div>
        <div class="col-sm-9">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <strong>
                    {{ label1 }}<span>   </span><i class="glyphicon glyphicon-chevron-right"></i><span>   </span>{{ label2 }}<span>   </span><i class="glyphicon glyphicon-chevron-right"></i><span>   </span>{{ label3 }}
                    </strong>
                </div>
                <div class="panel-body">

                    <iframe class="dashboard-iframe" src="{{ dashboard.src }}" scrolling="no"
                            style="width: 100%; border: 0; height: {{ dashboard.height }};"
                            onload="autoResizeIframe(this);"></iframe>

                </div>
            </div>

        </div>
{% endblock %}
